body {
    text-align: center;
    background: url('images/stars.jpg');
    background-size: cover;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
}

#map { 
    height: 500px;
    width: 800px;
    border-radius: 50%;
}
